extends layout
block content
	.uk-grid
		.uk-width-1-2
			.uk-panel.uk-panel-box-primary
				h3.uk-panel-title Such Panels

			.uk-panel
				h3.uk-panel-title Much Forms
				form.uk-form
					fieldset
						input(type="text", placeholder="")
						input(type="password", placeholder="")
						select
							option ...
							option ...
						button.uk-button ...
						label
							input(type="checkbox")

		.uk-width-1-2
			.uk-panel
				h3.uk-panel-title WOW!
