doctype 5
html(lang="en-us")
	head
		title binpip
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='DogeCoin redistribution')
		meta(name='keywords', content='coin, dogecoin, doge, doges')
		meta(charset='UTF-8')
		meta(name='google', content='notranslate')

		link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
		link(rel='icon', href='/favicon.ico', type='image/x-icon')

		link(href='css/uikit.css', rel='stylesheet')
		link(href='css/main.css', rel='stylesheet')

		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js')

	body
		block content
