doctype 5
html(lang="en-us")
	head
		title binpip
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='description', content='DogeCoin redistribution')
		meta(name='keywords', content='coin, dogecoin, doge, doges')
		meta(charset='UTF-8')
		meta(name='google', content='notranslate')

		link(rel='shortcut icon', href='/favicon.ico', type='image/x-icon')
		link(rel='icon', href='/favicon.ico', type='image/x-icon')

		link(href='css/uikit.almost-flat.min.css', rel='stylesheet')
		// link(href='css/main.css', rel='stylesheet')

		script(src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
		script(src='js/uikit.min.js')

	body
		nav.uk-navbar
			a(href="#").uk-navbar-brand DogeCoin Redistribution
			ul.uk-navbar-nav
				li.uk-active
					a(href="#") Much
				li
					a(href="#") Such
				li.uk-parent
					a(href="#") WOW!
		br
		block content
